.container {
    min-width: 40rem;
    height: auto;
    box-sizing: border-box;
    padding: 1.6rem;
    background-color: #161616;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.6rem;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.6rem 0;
        .title {
            font-size: 1.8rem;
            font-weight: 600;
        }
        .button {
            background-color: #2a8b8b;
            color: white;
            border: 0.1rem solid #2a8b8b;
            border-radius: 0.4rem;
            height: 3.2rem;
            padding: 0 1.6rem;
            cursor: pointer;
            font-weight: 600;
        }
    }
    .charLength {
        display: flex;
        flex-direction: column;
        .character {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.8rem 0;
            font-weight: 600;
        }
    }
    .checkboxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        grid-column-gap: 2rem;
        margin: 0.8rem 0;
        .checkBox {
            margin: 0.8rem 0;
            .checkBoxInput {
              margin-right: 1rem;
            }
        }
    }
    .submitPassword {
        .error {
            color: red;
            font-size: 1.2rem;
            text-align: left;
            margin-top: 0.8rem;
        }
        .generateButton {
            width: 100%;
            background-color: #2a8b8b;
            color: white;
            border: 0.1rem solid #2a8b8b;
            height: 3.2rem;
            border-radius: 0.4rem;
            margin: 1.2rem 0;
            cursor: pointer;
            font-weight: 600;
        }
    }
}